#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
}

.pageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding:4vw;

  #headingsAndQuiz {
    display: flex;
    flex-direction: column;

    padding-left: 3%;
  }
}