:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Atkinson Hyperlegible", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #6A7E37;
background: linear-gradient(115deg, rgba(106, 126, 55, 1) 0%, rgba(179, 188, 109, 1) 46%, rgba(75, 128, 6, 1) 97%);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Shadows into light"
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 3%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #F6B746;
  background: radial-gradient(circle, rgb(210, 154, 51) 5%, rgba(185, 118, 32, 1) 98%);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 4px 5px 8px 0px rgba(0,0,0,0.23);
  -webkit-box-shadow: 4px 5px 8px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 4px 5px 8px 0px rgba(0,0,0,0.23);
}
button:hover {
  border-color: wheat;
}


.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}